## Extract RGB values from image
There are broadly three steps to find the dominant colors in an image:

Extract RGB values into three lists.
Perform k-means clustering on scaled RGB values.
Display the colors of cluster centers.
To extract RGB values, we use the imread() function of the image class of matplotlib. Empty lists, r, g and b have been initialized.

In [2]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow
from

In [3]:
batman_df = pd.read_csv('movies_plot.csv')
batman_df.head()

,Title,Plot
0,The Ballad of Cable Hogue,"Cable Hogue is isolated in the desert, awaitin..."
1,Monsters vs. Aliens,"In the far reaches of space, a planet explodes..."
2,The Bandit Queen,Zarra Montalvo is the daughter of an American ...
3,Broken Arrow,Major Vic Deakins (John Travolta) and Captain ...
4,Dolemite,Dolemite is a pimp and nightclub owner who is ...

In [4]:
batman_df.tail()

                     Title                                               Plot
995         Unknown Island  Adventure-seeker Ted Osborne (Phillip Reed) an...
996            Boss Nigger  Upon finding a wagon under attack by bandits, ...
997         Secret Command  The plot involves a U.S. effort to root out Na...
998  The Monolith Monsters  In the desert outside of San Angelo, Californi...
999             Dick Tracy  Dick Tracy (Morgan Conway), a supremely intell...

In [5]:
batman_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Title   1000 non-null   object
 1   Plot    1000 non-null   object
dtypes: object(2)
memory usage: 15.8+ KB

In [6]:
# Read batman image and print dimensions
import matplotlib.image as img
batman_image = img.imread('batman.jpg')
print(batman_image.shape)

r =[]
g = []
b = []
# Store RGB values of all pixels in lists r, g and b
for row in batman_image:
    for temp_r, temp_g, temp_b in row:
        r.append(temp_r)
        g.append(temp_g)
        b.append(temp_b)

(720, 1280, 3)

## How many dominant colors?

In [4]:
batman_df.head()

,Title,Plot
0,The Ballad of Cable Hogue,"Cable Hogue is isolated in the desert, awaitin..."
1,Monsters vs. Aliens,"In the far reaches of space, a planet explodes..."
2,The Bandit Queen,Zarra Montalvo is the daughter of an American ...
3,Broken Arrow,Major Vic Deakins (John Travolta) and Captain ...
4,Dolemite,Dolemite is a pimp and nightclub owner who is ...

In [5]:
batman_df.describe()

                   Title                                               Plot
count               1000                                               1000
unique               995                                               1000
top     My Cousin Rachel  Cable Hogue is isolated in the desert, awaitin...
freq                   2                                                  1