## Extract RGB values from image
There are broadly three steps to find the dominant colors in an image:

Extract RGB values into three lists.
Perform k-means clustering on scaled RGB values.
Display the colors of cluster centers.
To extract RGB values, we use the imread() function of the image class of matplotlib. Empty lists, r, g and b have been initialized.

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow
from tensorflow import keras

In [2]:
batman_df = pd.read_csv('movies_plot.csv')
batman_df.head()

,Title,Plot
0,The Ballad of Cable Hogue,"Cable Hogue is isolated in the desert, awaitin..."
1,Monsters vs. Aliens,"In the far reaches of space, a planet explodes..."
2,The Bandit Queen,Zarra Montalvo is the daughter of an American ...
3,Broken Arrow,Major Vic Deakins (John Travolta) and Captain ...
4,Dolemite,Dolemite is a pimp and nightclub owner who is ...

In [3]:
batman_df.tail()

                     Title                                               Plot
995         Unknown Island  Adventure-seeker Ted Osborne (Phillip Reed) an...
996            Boss Nigger  Upon finding a wagon under attack by bandits, ...
997         Secret Command  The plot involves a U.S. effort to root out Na...
998  The Monolith Monsters  In the desert outside of San Angelo, Californi...
999             Dick Tracy  Dick Tracy (Morgan Conway), a supremely intell...

In [4]:
batman_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Title   1000 non-null   object
 1   Plot    1000 non-null   object
dtypes: object(2)
memory usage: 15.8+ KB

In [5]:
# Read batman image and print dimensions
import matplotlib.image as img
batman_image = img.imread('batman.jpg')
print(batman_image.shape)

r =[]
g = []
b = []
# Store RGB values of all pixels in lists r, g and b
for row in batman_image:
    for temp_r, temp_g, temp_b in row:
        r.append(temp_r)
        g.append(temp_g)
        b.append(temp_b)

(720, 1280, 3)

## How many dominant colors?

In [6]:
batman_df.head()

,Title,Plot
0,The Ballad of Cable Hogue,"Cable Hogue is isolated in the desert, awaitin..."
1,Monsters vs. Aliens,"In the far reaches of space, a planet explodes..."
2,The Bandit Queen,Zarra Montalvo is the daughter of an American ...
3,Broken Arrow,Major Vic Deakins (John Travolta) and Captain ...
4,Dolemite,Dolemite is a pimp and nightclub owner who is ...

In [7]:
batman_df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Length: 1000, dtype: bool

In [8]:
batman_df.describe()

                   Title                                               Plot
count               1000                                               1000
unique               995                                               1000
top     My Cousin Rachel  Cable Hogue is isolated in the desert, awaitin...
freq                   2                                                  1

In [9]:
batman_df.info

<bound method DataFrame.info of                          Title  \
0    The Ballad of Cable Hogue
1          Monsters vs. Aliens
2             The Bandit Queen
3                 Broken Arrow
4                     Dolemite
..                         ...
995             Unknown Island
996                Boss Nigger
997             Secret Command
998      The Monolith Monsters
999                 Dick Tracy

                                                  Plot
0    Cable Hogue is isolated in the desert, awaitin...
1    In the far reaches of space, a planet explodes...
2    Zarra Montalvo is the daughter of an American ...
3    Major Vic Deakins (John Travolta) and Captain ...
4    Dolemite is a pimp and nightclub owner who is ...
..                                                 ...
995  Adventure-seeker Ted Osborne (Phillip Reed) an...
996  Upon finding a wagon under attack by bandits, ...
997  The plot involves a U.S. effort to root out Na...
998  In the desert outside of San Angelo, Californi...
999  Dick Tracy (Morgan Conway), a supremely intell...

[1000 rows x 2 columns]>

In [10]:
batman_df.describe()

                   Title                                               Plot
count               1000                                               1000
unique               995                                               1000
top     My Cousin Rachel  Cable Hogue is isolated in the desert, awaitin...
freq                   2                                                  1

In [11]:
batman_df.duplicated().sum()

0

In [12]:
batman_df.corr()

Empty DataFrame
Columns: []
Index: []

In [13]:
batman_df.isnull

<bound method DataFrame.isnull of                          Title  \
0    The Ballad of Cable Hogue
1          Monsters vs. Aliens
2             The Bandit Queen
3                 Broken Arrow
4                     Dolemite
..                         ...
995             Unknown Island
996                Boss Nigger
997             Secret Command
998      The Monolith Monsters
999                 Dick Tracy

                                                  Plot
0    Cable Hogue is isolated in the desert, awaitin...
1    In the far reaches of space, a planet explodes...
2    Zarra Montalvo is the daughter of an American ...
3    Major Vic Deakins (John Travolta) and Captain ...
4    Dolemite is a pimp and nightclub owner who is ...
..                                                 ...
995  Adventure-seeker Ted Osborne (Phillip Reed) an...
996  Upon finding a wagon under attack by bandits, ...
997  The plot involves a U.S. effort to root out Na...
998  In the desert outside of San Angelo, Californi...
999  Dick Tracy (Morgan Conway), a supremely intell...

[1000 rows x 2 columns]>

In [14]:
batman_df.isnull().sum()

Title    0
Plot     0
dtype: int64

In [15]:
batman_df.drop_duplicates

<bound method DataFrame.drop_duplicates of                          Title  \
0    The Ballad of Cable Hogue
1          Monsters vs. Aliens
2             The Bandit Queen
3                 Broken Arrow
4                     Dolemite
..                         ...
995             Unknown Island
996                Boss Nigger
997             Secret Command
998      The Monolith Monsters
999                 Dick Tracy

                                                  Plot
0    Cable Hogue is isolated in the desert, awaitin...
1    In the far reaches of space, a planet explodes...
2    Zarra Montalvo is the daughter of an American ...
3    Major Vic Deakins (John Travolta) and Captain ...
4    Dolemite is a pimp and nightclub owner who is ...
..                                                 ...
995  Adventure-seeker Ted Osborne (Phillip Reed) an...
996  Upon finding a wagon under attack by bandits, ...
997  The plot involves a U.S. effort to root out Na...
998  In the desert outside of San Angelo, Californi...
999  Dick Tracy (Morgan Conway), a supremely intell...

[1000 rows x 2 columns]>

In [1]:
import os
import subprocess

# Set the proxy server and port
proxy_server = '157.22.1.0'
proxy_port = '60'

# Set the program you want to open with the proxy
program_to_open = 'test.exe'

# Set the arguments for the program
program_args = ['arg1', 'arg2']

# Set the environment variable for the proxy
os.environ['http_proxy'] = f'http://{proxy_server}:{proxy_port}'

# Use subprocess to open the program with the specified arguments
subprocess.Popen([program_to_open] + program_args)

FileNotFoundError: [WinError 2] The system cannot find the file specified